@font-face {
  font-family: "Circular STD";
  src: url("../fonts/Circular\ Std\ Font.otf");
}

@font-face {
  font-family: "Circular STD 2";
  src: url("../fonts//CircularStd-Book.woff");
}
$font_families: "Circular STD", "ProximaNova-Regular";

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
